# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Variable definitions
terraform.tfvars
*.auto.tfvars

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config files
.terraformrc
terraform.rc

# Ansible inventory (может содержать IP и пути к ключам)
ansible/inventory/hosts.ini
